<div class="alert alert-primary" role="alert">
  <h3><%= @article.title %> </h3>
  <p><%= @article.content %> </p>
</div>
<button type="button" class="btn btn-outline-primary">
  <%= link_to 'Back to Articles', articles_path %></button>
<button type="button" class="btn btn-outline-primary">
  <%= link_to 'Edit Article', edit_article_path %></button>
<button type="button" class="btn btn-outline-danger"><%= link_to 'Delete Article', article_path(@article), method: 'delete', data: { confirm: "Are you sure?" } %> </button>
